{{#each projects}}
<div class="card">
    <img class="card-img-top" src="{{imageLink}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <div class="card-links">
            <a href="{{githubLink}}" target="_blank">github repo</a>
            {{#if liveVersionExists}}
                <a href="{{liveLink}}">live version</a>
            {{else}} <a class="noLink">no live version</a>
            {{/if}}
        </div>
    </div>
</div>
{{/each}}